---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---
I am broadly interested in the relationship between skeletal function and form throughout evolution, and the extent to which form can be used to predict function (or not!) in both extant and extinct animals. I am also interested in how the skeleton is constrained by non-functional considerations, like evolutionary or ontogenetic history. I use computational methods like geometric morphometrics and Finite Element Analysis (FEA) to address these themes.

<b>BB/X014479/1: Understanding Functional Performance in Bird Skulls: Advanced Computational Modelling to Investigate Cranial Biomechanics and Kinesis</b>
I am currently PI on a BBSRC-funded grant with <a href="https://www.imbe.leeds.ac.uk/profiles/peter-watson/">Pete Watson</a> (University of Leeds) to explore variation in morphology and biomecanical performance in structures related to cranial kinesis in birds. This will involve both a morphological survey of hinge mechanisms in bird skulls, and the construction and validation of finite element and multibody dynamics models of cranial kinesis. 

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
