---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
I am the Programme Director for the Zoology degree, and module leader for Vertebrate Zoology (core for Zoology and Biology students, and optional for Marine Biologists). For final year Independent Research Project students, I offer projects investigating aspects of animal form and function. Depending on the project this may include learning geometric morphometrics methods or ways of measuring functional performance from skeletons or 3D computer models.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
